
body {
  height: 100vh;
} 

.app-go-back {
  display: none;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color:red;
  align-self: center;
  text-align: center;
}

h1 a {
  text-decoration: none;
  color:red;
}

.div-gif {
  align-self: center;
  text-align: center;
}



@media (max-width: 400px) {

  .app-go-back {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 40px;
  }

  .app-go-back:hover {
    color:rgb(255, 38, 38);
  }
  
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  h1 {
    color:red;
    align-self: center;
    text-align: center;
  }
  
  h1 a {
    text-decoration: none;
    color:red;
  }
  
  .my-gif {
    width: 80%;  
  }
  



  

 }