/* fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


/* css variables */
@import '../css/custom/var.css';
/* navbar  */
@import '../css/custom/navbar.css';
/* header  */
@import '../css/custom/header.css';
/* presentation-skills  */
@import '../css/custom/presentation-skills.css';
/* projects  */
@import '../css/custom/projects.css';
/* contact  */
@import '../css/custom/contact.css';
/* footer  */
@import '../css/custom/footer.css';


body {
  background-color: whitesmoke;
  font-family: 'Playfair Display', serif;

}

p {
  font-size: 1.2em;
}