@import '../custom/var.css';

.page-footer {
  background-color: var(--main-color) !important;
  padding-top: 170px;
}

span i {
  padding: 10px;
  margin-top: 20px;
}

#logo-footer {
  color: white;
}

#footer > footer > div.container > div > div > span > a{
  color: white !important;
}