@import '../css/custom/var.css';

nav {
  background-color: white;
  box-shadow: none !important;
  padding-top: 10px;
}


.brand-logo img {
  width: auto;
  height: 50px;
  vertical-align: middle;
}

#nav-mobile > li > a, a.brand-logo {
  color: var(--main-color) !important;
  font-family: 'Montserrat', sans-serif;
}

#nav-mobile > li:nth-child(3) > a {
  border-radius: 20px;
  background-color: white;
  border: 2px solid var(--main-color);
  box-shadow: none;
}

#nav-mobile > li:nth-child(3) > a:hover {
  background-color: var(--main-color);
  color: white !important;
}

a.brand-logo {
  margin-left: 20px;
}

#nav-mobile > li:nth-child(3) {
  margin-right: 20px;
}

@media (max-width: 601px) { 
  a.brand-logo {
    margin-left: 0px;
  }
}