@import '../custom/var.css';

/* PRESENTATION SECTION */

.presentation-section {
  background-color: var(--main-color);
  height: 600px;
  padding-top: 50px;
  margin-bottom: -150px;
  position: relative;
  z-index: -1;
  
}

div.presentation-section > div > h1,
div.presentation-section > div > p {
  color: white;
}

/* SKILLS SECTION */

.skill-section {
  background-color: var(--main-color);
}
.row-skill-container {
  margin: 0 30px;
  
}

body > div.skills-section > div.row-skill-container > div > div:nth-child(1) {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

body > div.skills-section > div.row-skill-container > div > div:nth-child(2) {
  border-right: none;
  border-left: none;
}

body > div.skills-section > div.row-skill-container > div > div:nth-child(3) {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.skill-container {
  border: 1px solid lightgrey;
  background-color: white;
}

.skill-icon-container {
  display: flex;
  justify-content: center;
}



.skill-icon {
  width: 70px !important;
  height: auto !important;
  padding-top: 20px;
}


div.content-col >  div.sub-section-col > .subtitle-col {
  color: var(--main-color);
}


.btn-container {
  display: flex;
  justify-content: center;
}