@import '../custom/var.css';

.card-reaveal-btn-container {
  display: flex;
  justify-content: center;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.project-container {
  margin: 0 18.75px;
}

.card {
  border-radius: 15px !important;
  overflow: hidden;
}
